<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /athen-/dist/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /athen-/dist/index.html [L]
</IfModule>
